<!DOCTYPE html>
<html>

<head>
    <title>Fuel Transaction Provider (by Geotab)</title>
    <link href="https://cdn.rawgit.com/Geotab/addin-fuel-transaction-provider/master/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdn.rawgit.com/Geotab/addin-fuel-transaction-provider/master/css/fuelTransactionProvider.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdn.rawgit.com/Geotab/addin-fuel-transaction-provider/master/js/fuelTransactionProvider.js"></script>
</head>

<body>

<div id="fuelTransactionProviderId" class="app bootstrap" style="display: none">
    <div class="container-fluid">

        <section class="row">
            <div class="col-sm-12">
                <h1>Fuel Transaction Provider</h1>
                <p>Save the customer id assigned by your fuel transaction provider to enable automated fuel transaction importing. Fuel transactions will be imported once per 24 hour period. <em>Fuel card provider account number should include leading zeros, no spaces or hyphens.</em></p>
            </div>
        </section>

        <section class="row alerts">
            <div class="col-sm-12">
                <div id="dummy" style="visibility: hidden" class="alert alert-info">&nbsp;</div>
                <div id="alertInfo" style="display: none;" class="alert alert-info">
                    <div class="spinner">
                        <div class="rect1"></div>
                        <div class="rect2"></div>
                        <div class="rect3"></div>
                        <div class="rect4"></div>
                        <div class="rect5"></div>
                    </div>
                    <span></span>
                </div>
                <div id="alertSuccess" style="display: none" class="alert alert-success"><span></span></div>
                <div id="alertError" style="display: none" class="alert alert-danger">Error: <span></span></div>
            </div>
        </section>

        <section class="row" id="form">
            <div class="col-sm-12 col-lg-8">

                <div class="form-group">
                    <button type="submit" class="btn btn-primary" id="save" title="Save customer id">Save</button>
                    <button type="reset" class="btn" id="reset" title="Reset">Reset</button>
                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Customer Id</th>
                        <th>Provider</th>
                        <th>Last Imported</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody id="accountSettings">

                    </tbody>
                </table>
            </div>
        </section>
    </div>
</div>
<script type="text/html" id="accountSettingsTempl">
        <tr class="accountSetting" id="<%=id%>">
            <td><input type="text" class="form-control customerId" required="required" value="<%=customerId%>" placeholder="Customer Id" title="Fuel card provider account number (must include leading zeros, no spaces or hyphens)"></td>
            <td>
                <select class="form-control provider" title="The fuel card data provider" <%= hasMultipleProviderSupport ? '' : 'disabled="disabled"' %>>
                    <option value="Unknown" <%= fuelTransactionProvider === 'Unknown' ? 'selected="selected"' : '' %> >Unknown</option>
                    <option value="Comdata" <%= fuelTransactionProvider === 'Comdata' ? 'selected="selected"' : '' %> >Comdata</option>
                    <option value="Fuelman" <%= fuelTransactionProvider === 'Fuelman' ? 'selected="selected"' : '' %> >Fuelman</option>
                    <option value="Wex" <%= fuelTransactionProvider === 'Wex' ? 'selected="selected"' : '' %> >WEX</option>
                </select>
            </td>
            <td><input type="text" class="form-control lastRun" disabled="disabled" value="<%=lastRun%>" placeholder="Never" title="The last imported file date (UTC)"></td>
            <td><%= button === 'remove' ? '<button type="button" class="btn btn-default remove" aria-label="Left Align">
                <span class="icon icon-remove" aria-hidden="true"></span>
            </button>' : '&nbsp;' %></td>
        </tr>
</script>
</body>
</html>
